/* --- fonts --- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

/* --- variables --- */
/* background - gradient color palette */
:root {
    --imperial-red: #e63946;
    --candy-pink: #e96a70;
    --pastel-pink: #ec9a9a;
    --spanish-pink: #edb2af;
    --honeydew: #f1faee;
    --powder-blue: #a8dadc;
    --celadon-blue: #457b9d;
    --bdazzeled-blue: #31587a;
    --prussian-blue: #1d3557;
    --white: #fff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
}

/* --- global settings --- */
html { 
    font-size: 10px;
    font-family: "Georgia", Arial, sans-serif;
}

h1, h2 {
    font-weight: 600;
}

h3, h4, h5, h6 {
    font-weight: 500;
}

a {
    text-decoration: none; /* removes lines from words on buttons */
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.wrapper {
    width: 1170px;
    margin: 0 auto;
}

header {
    height: 100px;
    background: var(--bdazzeled-blue);
    width: 100%;
    z-index: 12;
    position: fixed;
}

.logo {
    width: 40%;
    float: left;
    line-height: 100px;
}

.logo a {
    text-decoration: none;
    font-weight: 400;
    font-size: 40px;
    font-family: inherit;
    color: #fff;
    letter-spacing: 5px;
    background-position: center;
}

.banner-area {
    width: 100%;
    height: 500px;
    position: fixed;
    top: 100px;
    background-image: url(logo.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.banner-area h2 {
    padding-top: 8%;
    font-size: 70px;
    font-family: inherit;
    text-transform: uppercase;
    color: #fff;
}

.content-area {
    width: 100%;
    position: relative;
    top: 550px;
    background: var(--honeydew);
    height: 3200px;
}
.content-area .btn {
    margin: 0 15px 15px 0;
}

.content-area h2 {
    font-family: inherit;
    letter-spacing: 4px;
    padding-top: 30px;
    font-size: 40px;
    margin: 0;
}

.content-area p {
    padding: 2% 0;
    font-family: inherit;
    line-height: 30px;
}

/* --- discord button --- */
button {
    text-align: center;
    font-family: inherit;
    user-select: none;
}

.btn {
    line-height: 1.5;
    background-color: var(--pastel-pink);
    border: 1px solid var(--candy-pink);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--imperial-red); /* changes color of word font */
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--imperial-red);
    z-index: -1; 
    transition: width 0.3s ease; /* button gradient */
}

.btn:hover::before {
    width: 100%;
}

.btn:hover { 
    color: var(--white); /* when button is touched - font changes white */
}

/* --- toggle menu --- */
.accordion {
    max-width: 1600px;
}

.accordion .content-box {
    position: relative;
    margin: 10px 20px;
}

.accordion .content-box .label {
    position: relative;
    padding: 10px;
    background: var(--imperial-red);
    color: white;
    cursor: pointer;
    font-family: inherit;
}

.accordion .content-box .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .content-box.active .label::before {
    content: '-';
}

.accordion .content-box .content {
    position: relative;
    background: white;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .content-box.active .content {
    height: 100px;
    padding: 10px;
    
}

#map {
    height: 45vh;
    width: 100w;
}

.marker {
    background-image: url('images/Flushy-Marker.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.mapboxgl-popup {
    max-width: 200px;
}

.mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

#geocoder {
        margin-bottom: 25px;
        position: relative;
        top: 10px;
        left: 600px;
        width: 600w;
    }

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
    }