*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(logo.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh; 
}

h1 {
    text-align: center;
    color: white;
    padding: 70px;
    font-size: 300%;
}

h2 {
    text-align: center;
    color: white;
    padding: 70px;
    font-size: 300%;
}

ul {
    display: table;
    color: white;
    padding: 70px;
}

h3 {
    color: white;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: white;
}

.accordion {
    max-width: 500px;
    text-align: center
}

.accordion .content-box {
    position: relative;
    margin: 10px 20px;
}

.accordion .content-box .label {
    position: relative;
    padding: 10px;
    background: blue;
    color: white;
    cursor: pointer;
}

.accordion .content-box .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .content-box.active .label::before {
    content: '-';
}

.accordion .content-box .content {
    position: relative;
    background: black;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
}

.accordion .content-box.active .content {
    height: 150px;
    padding: 10px;
}

p {
    color: white;
    padding: 70px;
}

.button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.b1 {
    background-color: blue; 
    color: white; 
    border: 2px solid blue;
}
  
.b1:hover {
    background-color: white;
    color: black;
}